<footer class="footer">
    <div class="container text-center">
        <a class="cc-facebook btn btn-link" href="https://www.facebook.com/hamza.montana.nsr" target="_blank">
            <i class="fa fa-facebook fa-2x " aria-hidden="true"></i>
        </a>
        <a class="cc-github btn btn-link " href="https://github.com/hamzanasri123" target="_blank">
            <i class="fa fa-github fa-2x " aria-hidden="true"></i>
        </a>
    </div>
    <div class="text-center text-muted">
        <p>&copy; All rights reserved.<b>Hamza Nasri</b></p>
    </div>
</footer>
