<div class="section" id="experience">
    <div class="container py-2 cc-experience">
        <div class="h4 text-center mb-4 title"> Parcours et Experiences Professionnel</div>
                <div class="row">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge up bg-green">
                                <i class="fa fa-thumbs-up"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">HookedUp</div>
                                        <div class="h6 mt-0 title"> Développeur Full-Stack (2021-01 - Present)</div>
                                        <p align="justify">Développement d'une plate-forme de pèche (www.linkedfishers.com) avec Node js , Angular8 , Mongodb ,Git , Docker .
                                          La Plate-forme Linkedfishers contient un module Facebook qui permet aux utilisateurs de partager ses expériences de pèche , un module airbnb qui permet aux utilisateurs de partager et louer leurs equipements , leurs cabanes et leurs bateaux de pèche et un module MarketPlace qui permet aux fournisseurs de vendre des equipements de pèche et de publier leur produit .</p>
                                        <p align="justify"></p>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul>
                                            <li class="list">Mission</li>
                                            <ul>
                                                <li class="non_list">Développeur Ful-Stack</li>
                                                <li class="non_list"></li>
                                            </ul>
                                            <li class="list">Technologies</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">Agile</li>
                                                        <li class="non_list">Docker</li>
                                                        <li class="non_list">Git</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">Node js</li>
                                                        <li class="non_list">Angular</li>
                                                        <li class="non_list">Mongodb-Mongoose</li>
                                                        <li class="non_list">Express</li>
                                                        <li class="non_list">Rest Api</li>
                                                    </div>
                                                </div>
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-badge down">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Webixia</div>
                                        <div class="h6 mt-0 title">Integrateur Web(2021-01 - 2021-03)</div>
                                        <p align="justify">Création des sites vitrine avec WordPress on utilisant des themes premium comme Avada et creation des sites E-commerce.</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul>
                                            <li class="list">Mission</li>
                                            <ul>
                                                <li class="non_list">Intégrateur Web</li>

                                                <li class="non_list">Développeur Web</li>
                                            </ul>
                                            <li class="list">Technologies </li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">JQuery</li>
                                                        <li class="non_list">Html</li>
                                                        <li class="non_list">Css</li>

                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">JavaScript</li>
                                                        <li class="non_list">MySql</li>
                                                        <li class="non_list">Git</li>
                                                    </div>
                                                </div>
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                          <li>
                            <div class="timeline-badge up bg-green">
                                <i class="fa fa-thumbs-up"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Banque de Tunisie - Département Informatique</div>
                                        <div class="h6 mt-0 title"> Stagiaire (2020-01 - 2020-06)</div>
                                        <p align="justify">Conception et Développement d'un Système de Gestion des Dossiers Allocation Pour Voyage D'affaire, Gestion des Mouvements., Gestion des Dossiers, Gestion des Utilisateurs(A.V.A) .</p>
                                        <p align="justify"></p>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul>
                                            <li class="list">Mission</li>
                                            <ul>
                                                <li class="non_list">Projet fin d'étude - Développeur Ful-Stack</li>
            
                                            </ul>
                                            <li class="list">Technologies</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">Agile</li>
                                                        <li class="non_list">Razor Engine</li>
                                                        <li class="non_list">Git</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">Asp Net</li>
                                                        <li class="non_list">Rest Api</li>
                                                        <li class="non_list">SQL Etity-Framework</li>

                                                    </div>
                                                </div>
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
    </div>
</div>
