<div class="section" id="about">
    <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">

                      <!--  . Je ne vais pas citer toutes les
        technologies que je connais ou que j’utilise en tant que développeur
        Web. Vous pouvez télécharger mon CV ou
        visitez mon Portfolio pour découvrir plus à propos de moi. -->
                      <!--  -->
                        <div class="h4 mt-0 title">Présentation</div>
                            <p align="justify">Je suis <span className="name">Hamza Nasri</span> «Full-Stack Web Developer».</p>
                            <p align="justify">Dans
        ce domaine, la personne peut imaginer et concevoir des objets ou des
        scénarios. Il peut les rendre réelles,avec le Coding (HTML5, CSS3, Javascript, ReactJs,Angular ,WordPress …)</p>
                            <p align="justify">Je suis un véritable passionné par les nouvelles technologies depuis mon plus jeune âge. jusqu'à en devenir mon principal passe temps, et j'aurais même tendance à dire une véritable passion.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">Information Personnelle</div>
                        <div class="row">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Date de Naissance:</strong>
                            </div>
                            <div class="col-sm-8">02 Mars, 1992</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">E-mail:</strong>
                            </div>
                            <div class="col-sm-8">hamzanasri16@gmail.com</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase"> Télephone:</strong>
                            </div>
                            <div class="col-sm-8">+21696231966</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Addresse:</strong>
                            </div>
                            <div class="col-sm-8">Cité el Wahat al-Aouina Tunis</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Langue:</strong>
                            </div>
                            <div class="col-sm-8">Français, Anglais</div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>

