<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>Sep-2020 - Dec-2020</p>
                        <div class="h5"> Full stack Javascript Bootcamp</div>
                        </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">

                                <h4 class="category">Go My Code </h4>
                                <ul>
                                    <li>Mern Stack <b>React js</b> <b>MongoDb</b> <b>Express</b> <b>NodeJS</b></li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2017-2020</p>
                        <div class="h5">Diplôme National d'ingénieur en Informatique </div>
                        </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">

                            <h4 class="category">Ecole Supérieur des Ingénieurs Privée ESIP</h4>
                            <ul>
                                    <li>Ingénierie de Logiciel et Système d'Information  ILSI <b>Trés bien</b></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2011-2015</p>
                        <div class="h5">Licence Appliquée en Technologie de l'Informatique</div>
                        </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">

                                <h4 class="category">Institut Supérieur des Etudes Technologique</h4>
                                <ul>
                                        <li>Multimédia et développement WEB  <b>Trés bien </b></li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2010-2011</p>
                        <div class="h5">Lycée secondaire</div>
                        </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">

                                <h4 class="category">Lycée secondaire Sened</h4>
                                <ul>
                                        <li>Baccalauréat Mathématique <b>Assez bien </b>.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
