<div class="profile-page">
    <div class="wrapper">
        <div class="page-header page-header-small" filter-color="orange">
            <div class="page-header-image" data-parallax="true" style="background-image: url('assets/images/introduction.jpg'); background-position:center center; background-attachment: fixed;">
            </div>
        <div class="container">
            <div class="content-center">
                <div class="profile-image">
                    <a href="#">
                        <img src="assets/images/hamza.jpg" alt="Image" />
                    </a>
                </div>
                <div class="h2 title">Hamza Nasri </div>
                <p class="category text-white">Développeur Full Stack </p>
                <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Contact</a>
                <a class="btn btn-primary"href="https://drive.google.com/file/d/1m7ak9_9MQN4uJBUlUDJxxhI7NqemXLSW/view?usp=sharing" target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">CV</a>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="button-container">
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.facebook.com/hamza.montana.nsr" target="_blank" rel="tooltip" title="Follow me on Facebook">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/hamza-nasri-a3690614b/" target="_blank" rel="tooltip" title="Follow me on Linkedin">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/hamzanasri123" target="_blank" rel="tooltip" title="Follow me on Github">
                        <i class="fa fa-github"></i>
                    </a>

                    <a class="btn btn-default btn-round btn-lg btn-icon" href="#" target="_blank" rel="tooltip" title="Follow me on Google+">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
